<div  id="tarjetas" class="row justify-content-center d-flex">
    <div class="card-div col-sm-3 col-md-4 col-lg-3 d-flex">
        @for(step of steps; track currentStep; let i = $index){
           @if (currentStep === i) {
            <div id="card-property" class="card m-2 d-flex flex-column">
            <img [src]="steps[currentStep].img"  [ngStyle]="{'background-color': steps[currentStep].bgcolor}" class="card-img-top img-fluid" alt="{{steps[currentStep].title}}">
            <div class="card-body flex-grow-1 d-flex flex-column">
                <h3 class="card-title">{{steps[currentStep].title}}</h3>
                <p class="card-text">{{steps[currentStep].description}}</p>
                <div class=" justify-content-between m-3">
                    @if (currentStep < steps.length -1) {
                        <button (click)="nextStep()" [disabled]="currentStep === steps.length - 1" class="btn btn-primary m-2"> <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon></button>}
                    @if (currentStep > 0) {
                        <button (click)="beforeStep()" [disabled]="currentStep === 0" class="btn btn-primary m-2">
                        <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon></button>}
                        
                </div>
            </div>
        </div>
        }
    }
    </div>
</div>

